// css reset
// docs: https://csstools.github.io/sanitize.css/
@import 'sanitize.css';

// ↓追加のform reset
input,
button,
select,
textarea {
  font: inherit;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  outline: none;
}

textarea {
  max-width: 100%;
  resize: vertical;
}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}

input[type='submit'],
input[type='button'],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}
